openapi: 3.0.3
info:
  title: Travelers Claims Policies API
  description: Travelers provides APIs for business insurance claim reporting, commercial lines quoting, and policy management. These APIs enable agents, brokers, and commercial clients to programmatically manage insurance workflows including submitting claims, obtaining quotes, and managing policies across property, casualty, workers compensation, and commercial auto lines.
  version: v1.0.0
  contact:
    name: Travelers Developer Portal
    url: https://developer.travelers.com/s/
  x-logo:
    url: https://www.travelers.com/logo.png
servers:
- url: https://api.travelers.com/v1
  description: Travelers API Production Server
security:
- OAuth2: []
tags:
- name: Policies
  description: Policy information and management
paths:
  /policies:
    get:
      operationId: listPolicies
      summary: List Policies
      description: Returns a list of commercial insurance policies for the authenticated organization.
      tags:
      - Policies
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - expired
          - cancelled
          - pending
        description: Filter by policy status
      - name: policy_type
        in: query
        required: false
        schema:
          type: string
        description: Filter by policy type
      responses:
        '200':
          description: Successful response with policy list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /policies/{policy_number}:
    get:
      operationId: getPolicy
      summary: Get Policy
      description: Returns details of a specific insurance policy.
      tags:
      - Policies
      parameters:
      - name: policy_number
        in: path
        required: true
        schema:
          type: string
        description: The policy number
      responses:
        '200':
          description: Successful response with policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    PolicyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Policy'
        total:
          type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: array
          items:
            type: string
    PolicyResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Policy'
    Policy:
      type: object
      properties:
        policy_number:
          type: string
        product_type:
          type: string
        status:
          type: string
          enum:
          - active
          - expired
          - cancelled
          - pending
        insured_name:
          type: string
        effective_date:
          type: string
          format: date
        expiration_date:
          type: string
          format: date
        premium:
          type: number
          format: float
        coverages:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              limit:
                type: number
              deductible:
                type: number
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.travelers.com/oauth/token
          scopes:
            claims:read: Read claim data
            claims:write: Submit and update claims
            quotes:read: Read quote data
            quotes:write: Request quotes
            policies:read: Read policy data
